
#### Run the cell below to install the required packages for Copilot

In [11]:

#Run this cell to install the required packages for Copilot
# %load_ext dscopilot_installer
# %activate_dscopilot

StatementMeta(, 6e51f269-76c6-4fa4-a78c-cf5ce1d8be09, 13, Finished, Available, Finished)

#### Read Dataset

Read Dataset from Upload File

In [1]:
# import pandas as pd
# df = pd.read_excel('copy abfs path')
# df.head()

StatementMeta(, d2581e4d-4e80-479f-aa66-9c6f6aeda9a7, 3, Finished, Available, Finished)

,No,Wilayah,Total_Jml,Total_N,Total_S,TK_Jml,TK_N,TK_S,KB_Jml,KB_N,...,SMP_S,SMA_Jml,SMA_N,SMA_S,SMK_Jml,SMK_N,SMK_S,SLB_Jml,SLB_N,SLB_S
0,1,Prov. Jawa Timur,67405,19612,47793,18809,191,18618,14958,1,...,3344,1516,421,1095,2164,299,1865,398,67,331
1,2,Prov. Jawa Barat,62715,20045,42670,9721,178,9543,13410,5,...,4109,1823,514,1309,2925,288,2637,393,59,334
2,3,Prov. Jawa Tengah,53048,19915,33133,14238,193,14045,9987,8,...,1702,877,362,515,1559,239,1320,189,41,148
3,4,Prov. Sumatera Utara,23554,10543,13011,3403,259,3144,4592,5,...,1397,1081,438,643,976,279,697,62,29,33
4,5,Prov. Sulawesi Selatan,16316,8299,8017,4648,405,4243,1695,0,...,472,614,337,277,431,168,263,96,23,73

Read Dataset from SQL Data Source

In [12]:
# ATTENTION: AI-generated code can include errors or operations you didn't intend. Review the code in this cell carefully before running it.

df = spark.read.table('kemendikbud_lakehouse.dbo_data_sekolah').toPandas()
# df.head()

StatementMeta(, 6e51f269-76c6-4fa4-a78c-cf5ce1d8be09, 14, Finished, Available, Finished)

,No,Wilayah,Total_Jml,Total_N,Total_S,TK_Jml,TK_N,TK_S,KB_Jml,KB_N,...,SMP_S,SMA_Jml,SMA_N,SMA_S,SMK_Jml,SMK_N,SMK_S,SLB_Jml,SLB_N,SLB_S
0,1,Prov. Jawa Timur,67405.0,19612.0,47793.0,18809.0,191,18618.0,14958.0,1,...,3344.0,1516.0,421,1095.0,2164.0,299,1865.0,398,67,331
1,2,Prov. Jawa Barat,62715.0,20045.0,42670.0,9721.0,178,9543.0,13410.0,5,...,4109.0,1823.0,514,1309.0,2925.0,288,2637.0,393,59,334
2,3,Prov. Jawa Tengah,53048.0,19915.0,33133.0,14238.0,193,14045.0,9987.0,8,...,1702.0,877.0,362,515.0,1559.0,239,1320.0,189,41,148
3,4,Prov. Sumatera Utara,23554.0,10543.0,13011.0,3403.0,259,3144.0,4592.0,5,...,1397.0,1081.0,438,643.0,976.0,279,697.0,62,29,33
4,5,Prov. Sulawesi Selatan,16316.0,8299.0,8017.0,4648.0,405,4243.0,1695.0,0,...,472.0,614.0,337,277.0,431.0,168,263.0,96,23,73

In [13]:
df.drop("No", axis=1, inplace=True)
# df.head()

StatementMeta(, 6e51f269-76c6-4fa4-a78c-cf5ce1d8be09, 15, Finished, Available, Finished)

,Wilayah,Total_Jml,Total_N,Total_S,TK_Jml,TK_N,TK_S,KB_Jml,KB_N,KB_S,...,SMP_S,SMA_Jml,SMA_N,SMA_S,SMK_Jml,SMK_N,SMK_S,SLB_Jml,SLB_N,SLB_S
0,Prov. Jawa Timur,67405.0,19612.0,47793.0,18809.0,191,18618.0,14958.0,1,14957.0,...,3344.0,1516.0,421,1095.0,2164.0,299,1865.0,398,67,331
1,Prov. Jawa Barat,62715.0,20045.0,42670.0,9721.0,178,9543.0,13410.0,5,13405.0,...,4109.0,1823.0,514,1309.0,2925.0,288,2637.0,393,59,334
2,Prov. Jawa Tengah,53048.0,19915.0,33133.0,14238.0,193,14045.0,9987.0,8,9979.0,...,1702.0,877.0,362,515.0,1559.0,239,1320.0,189,41,148
3,Prov. Sumatera Utara,23554.0,10543.0,13011.0,3403.0,259,3144.0,4592.0,5,4587.0,...,1397.0,1081.0,438,643.0,976.0,279,697.0,62,29,33
4,Prov. Sulawesi Selatan,16316.0,8299.0,8017.0,4648.0,405,4243.0,1695.0,0,1695.0,...,472.0,614.0,337,277.0,431.0,168,263.0,96,23,73

In [14]:
def rename_columns(df):
    result = {col: f"{col.split('_')[0]}_{'Jumlah' if 'Jml' in col else 'Negeri' if 'N' in col else 'Swasta'}" for col in df.columns if '_' in col}
    return df.rename(columns=result)

def preprocess_column(column):
    if column.dtype == 'float64':
        column = column.astype('int64')
    return column

df = rename_columns(df)
# for column in df.columns:
#     df[column] = preprocess_column(df[column])

StatementMeta(, 6e51f269-76c6-4fa4-a78c-cf5ce1d8be09, 16, Finished, Available, Finished)

In [15]:
# df.columns

StatementMeta(, 6e51f269-76c6-4fa4-a78c-cf5ce1d8be09, 17, Finished, Available, Finished)

Index(['Wilayah', 'Total_Jumlah', 'Total_Negeri', 'Total_Swasta', 'TK_Jumlah',
       'TK_Negeri', 'TK_Swasta', 'KB_Jumlah', 'KB_Negeri', 'KB_Swasta',
       'TPA_Jumlah', 'TPA_Negeri', 'TPA_Swasta', 'SPS_Jumlah', 'SPS_Negeri',
       'SPS_Swasta', 'PKBM_Jumlah', 'PKBM_Negeri', 'PKBM_Swasta', 'SKB_Jumlah',
       'SKB_Negeri', 'SKB_Swasta', 'SD_Jumlah', 'SD_Negeri', 'SD_Swasta',
       'SMP_Jumlah', 'SMP_Negeri', 'SMP_Swasta', 'SMA_Jumlah', 'SMA_Negeri',
       'SMA_Swasta', 'SMK_Jumlah', 'SMK_Negeri', 'SMK_Swasta', 'SLB_Jumlah',
       'SLB_Negeri', 'SLB_Swasta'],
      dtype='object')

In [16]:
# df.info()

StatementMeta(, 6e51f269-76c6-4fa4-a78c-cf5ce1d8be09, 18, Finished, Available, Finished)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 37 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Wilayah       39 non-null     object
 1   Total_Jumlah  39 non-null     float64
 2   Total_Negeri  39 non-null     float64
 3   Total_Swasta  39 non-null     float64
 4   TK_Jumlah     39 non-null     float64
 5   TK_Negeri     39 non-null     int64
 6   TK_Swasta     39 non-null     float64
 7   KB_Jumlah     39 non-null     float64
 8   KB_Negeri     39 non-null     int64
 9   KB_Swasta     39 non-null     float64
 10  TPA_Jumlah    39 non-null     int64
 11  TPA_Negeri    39 non-null     int64
 12  TPA_Swasta    39 non-null     int64
 13  SPS_Jumlah    39 non-null     float64
 14  SPS_Negeri    39 non-null     int64
 15  SPS_Swasta    39 non-null     float64
 16  PKBM_Jumlah   39 non-null     float64
 17  PKBM_Negeri   39 non-null     int64
 18  PKBM_Swasta   39 non-null     float64
 19  SKB_Jumlah    39 non-null     int64
 20  SKB_Negeri    39 non-null     int64
 21  SKB_Swasta    39 non-null     int64
 22  SD_Jumlah     39 non-null     float64
 23  SD_Negeri     39 non-null     float64
 24  SD_Swasta     39 non-null     float64
 25  SMP_Jumlah    39 non-null     float64
 26  SMP_Negeri    39 non-null     float64
 27  SMP_Swasta    39 non-null     float64
 28  SMA_Jumlah    39 non-null     float64
 29  SMA_Negeri    39 non-null     int64
 30  SMA_Swasta    39 non-null     float64
 31  SMK_Jumlah    39 non-null     float64
 32  SMK_Negeri    39 non-null     int64
 33  SMK_Swasta    39 non-null     float64
 34  SLB_Jumlah    39 non-null     int64
 35  SLB_Negeri    39 non-null     int64
 36  SLB_Swasta    39 non-null     int64
dtypes: float64(21), int64(15), object(1)
memory usage: 11.4+ KB

In [17]:
# df

StatementMeta(, 6e51f269-76c6-4fa4-a78c-cf5ce1d8be09, 19, Finished, Available, Finished)

,Wilayah,Total_Jumlah,Total_Negeri,Total_Swasta,TK_Jumlah,TK_Negeri,TK_Swasta,KB_Jumlah,KB_Negeri,KB_Swasta,...,SMP_Swasta,SMA_Jumlah,SMA_Negeri,SMA_Swasta,SMK_Jumlah,SMK_Negeri,SMK_Swasta,SLB_Jumlah,SLB_Negeri,SLB_Swasta
0,Prov. Jawa Timur,67405.0,19612.0,47793.0,18809.0,191,18618.0,14958.0,1,14957.0,...,3344.0,1516.0,421,1095.0,2164.0,299,1865.0,398,67,331
1,Prov. Jawa Barat,62715.0,20045.0,42670.0,9721.0,178,9543.0,13410.0,5,13405.0,...,4109.0,1823.0,514,1309.0,2925.0,288,2637.0,393,59,334
2,Prov. Jawa Tengah,53048.0,19915.0,33133.0,14238.0,193,14045.0,9987.0,8,9979.0,...,1702.0,877.0,362,515.0,1559.0,239,1320.0,189,41,148
3,Prov. Sumatera Utara,23554.0,10543.0,13011.0,3403.0,259,3144.0,4592.0,5,4587.0,...,1397.0,1081.0,438,643.0,976.0,279,697.0,62,29,33
4,Prov. Sulawesi Selatan,16316.0,8299.0,8017.0,4648.0,405,4243.0,1695.0,0,1695.0,...,472.0,614.0,337,277.0,431.0,168,263.0,96,23,73
5,Prov. Banten,14709.0,4823.0,9886.0,2607.0,118,2489.0,3291.0,0,3291.0,...,1060.0,625.0,161,464.0,755.0,98,657.0,119,10,109
6,Prov. Nusa Tenggara Timur,14269.0,5791.0,8478.0,1647.0,335,1312.0,3900.0,13,3887.0,...,465.0,618.0,397,221.0,355.0,178,177.0,49,36,13
7,Prov. Lampung,13383.0,5492.0,7891.0,3237.0,110,3127.0,2332.0,0,2332.0,...,785.0,538.0,240,298.0,493.0,111,382.0,32,13,19
8,Prov. Sumatera Selatan,13083.0,5790.0,7293.0,2413.0,148,2265.0,3015.0,3,3012.0,...,569.0,631.0,330,301.0,324.0,121,203.0,39,16,23
9,Prov. Aceh,11158.0,5584.0,5574.0,2771.0,738,2033.0,2061.0,1,2060.0,...,428.0,543.0,394,149.0,225.0,154,71.0,68,30,38
10,Prov. Riau,10871.0,4780.0,6091.0,2562.0,171,2391.0,1852.0,0,1852.0,...,429.0,484.0,321,163.0,318.0,139,179.0,52,18,34
11,Prov. Nusa Tenggara Barat,10756.0,4126.0,6630.0,2201.0,229,1972.0,2678.0,0,2678.0,...,499.0,390.0,153,237.0,356.0,100,256.0,55,21,34
12,Prov. Sumatera Barat,10734.0,5145.0,5589.0,2652.0,165,2487.0,1579.0,6,1573.0,...,189.0,346.0,238,108.0,216.0,116,100.0,183,30,153
13,Prov. Kalimantan Barat,10109.0,5793.0,4316.0,1146.0,176,970.0,2097.0,2,2095.0,...,353.0,485.0,292,193.0,235.0,120,115.0,26,15,11
14,Prov. D.K.I. Jakarta,8827.0,2007.0,6820.0,1882.0,79,1803.0,414.0,23,391.0,...,783.0,507.0,117,390.0,560.0,73,487.0,86,13,73
15,Prov. Kalimantan Selatan,8258.0,3813.0,4445.0,2552.0,293,2259.0,1383.0,17,1366.0,...,113.0,211.0,143,68.0,126.0,64,62.0,26,22,4
16,Prov. Sulawesi Tengah,7840.0,4019.0,3821.0,2095.0,291,1804.0,1192.0,1,1191.0,...,152.0,239.0,177,62.0,183.0,107,76.0,33,16,17
17,Prov. D.I. Yogyakarta,7680.0,1818.0,5862.0,2144.0,53,2091.0,1498.0,0,1498.0,...,238.0,176.0,69,107.0,207.0,50,157.0,81,9,72
18,Prov. Jambi,7432.0,3329.0,4103.0,1512.0,165,1347.0,1814.0,4,1810.0,...,164.0,255.0,163,92.0,185.0,108,77.0,24,16,8
19,Prov. Kalimantan Tengah,7025.0,3608.0,3417.0,2073.0,168,1905.0,689.0,0,689.0,...,159.0,248.0,182,66.0,139.0,94,45.0,31,22,9
20,Prov. Sulawesi Tenggara,6632.0,3712.0,2920.0,2054.0,353,1701.0,492.0,1,491.0,...,97.0,320.0,254,66.0,174.0,103,71.0,82,17,65
21,Prov. Sulawesi Utara,6142.0,2262.0,3880.0,1729.0,180,1549.0,784.0,4,780.0,...,257.0,230.0,121,109.0,192.0,94,98.0,41,6,35
22,Prov. Kalimantan Timur,6029.0,2511.0,3518.0,1477.0,119,1358.0,1049.0,1,1048.0,...,261.0,243.0,146,97.0,217.0,88,129.0,35,11,24
23,Prov. Bali,5322.0,2860.0,2462.0,1541.0,160,1381.0,467.0,2,465.0,...,127.0,164.0,90,74.0,170.0,58,112.0,14,12,2
24,Prov. Maluku,5081.0,2423.0,2658.0,1044.0,235,809.0,883.0,5,878.0,...,145.0,292.0,216,76.0,121.0,84,37.0,16,11,5
25,Prov. Bengkulu,4272.0,2005.0,2267.0,1161.0,132,1029.0,676.0,2,674.0,...,83.0,153.0,110,43.0,104.0,66,38.0,18,15,3
26,Prov. Maluku Utara,3901.0,1927.0,1974.0,702.0,157,545.0,742.0,49,693.0,...,148.0,225.0,139,86.0,151.0,63,88.0,28,17,11
27,Prov. Sulawesi Barat,3606.0,1897.0,1709.0,734.0,124,610.0,740.0,2,738.0,...,63.0,92.0,77,15.0,128.0,60,68.0,25,13,12
28,Prov. Kepulauan Riau,2998.0,1161.0,1837.0,681.0,94,587.0,387.0,0,387.0,...,189.0,178.0,96,82.0,110.0,38,72.0,25,10,15
29,Prov. Gorontalo,2996.0,1635.0,1361.0,839.0,302,537.0,610.0,1,609.0,...,31.0,71.0,62,9.0,59.0,40,19.0,8,8,0
30,Prov. Papua,2137.0,886.0,1251.0,286.0,47,239.0,323.0,16,307.0,...,82.0,118.0,62,56.0,49.0,35,14.0,7,5,2
31,Prov. Kepulauan Bangka Belitung,2135.0,1114.0,1021.0,380.0,84,296.0,370.0,2,368.0,...,76.0,79.0,47,32.0,59.0,36,23.0,10,7,3
32,Prov. Papua Pegunungan,1495.0,811.0,684.0,157.0,53,104.0,120.0,6,114.0,...,54.0,68.0,47,21.0,23.0,12,11.0,0,0,0
33,Prov. Kalimantan Utara,1481.0,709.0,772.0,196.0,32,164.0,410.0,0,410.0,...,41.0,73.0,49,24.0,34.0,22,12.0,7,6,1
34,Prov. Papua Barat,1430.0,682.0,748.0,288.0,48,240.0,260.0,25,235.0,...,39.0,68.0,47,21.0,21.0,16,5.0,1,0,1
35,Prov. Papua Tengah,1384.0,544.0,840.0,350.0,66,284.0,47.0,8,39.0,...,71.0,60.0,31,29.0,54.0,17,37.0,4,1,3
36,Prov. Papua Barat Daya,1266.0,572.0,694.0,222.0,40,182.0,104.0,16,88.0,...,61.0,81.0,50,31.0,40.0,17,23.0,4,4,0
37,Prov. Papua Selatan,1187.0,627.0,560.0,167.0,44,123.0,119.0,42,77.0,...,37.0,40.0,24,16.0,26.0,21,5.0,2,1,1
38,Luar Negeri,221.0,156.0,65.0,9.0,7,2.0,0.0,0,0.0,...,12.0,12.0,11,1.0,1.0,1,0.0,0,0,0

In [18]:
# Convert to table
df_spark = spark.createDataFrame(df)
df_spark.write.mode("overwrite").format("delta").saveAsTable("data_sekolah")

StatementMeta(, 6e51f269-76c6-4fa4-a78c-cf5ce1d8be09, 20, Finished, Available, Finished)